* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

body {
    background-color: rgb(60, 60, 60);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
}

img {
    background-color: rgb(180, 180, 180);
}

li {
    list-style: none;
}

.pfp {
    border-radius: 100%;
}

.dashboard {
    font-weight: 500;
    color: rgb(250, 250, 250);
    background-color: rgb(0, 150, 240);
    padding: 25px;
    grid-row: 1 / span 2;
}

.dashboard-logo {
    font-size: 2rem;
    margin-bottom: 60px;
}

.dashboard-link {
    font-size: 1.4rem;
    margin-top: 15px;
}

.dashboard-link:nth-child(7) {
    margin-bottom: 45px;
}

.header {
    background-color: white;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
}

.header-top {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    height: 2rem;
    width: 30%;
    display: flex;
    gap: 20px;
}

#search {
    appearance: none;
    background-color: rgb(230, 230, 240);
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    flex: 1;
}

.small {
    width: 50px;
    height: 50px;
}

.personal {
    display: flex;
    gap: 20px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.large {
    width: 100px;
    height: 100px;
}

.welcome {
    display: flex;
    align-items: center;
    gap: 40px;
}

.button {
    font-size: 1.4rem;
    color: white;
    background-color: rgb(0, 150, 240);
    margin-left: 50px;
    border: none;
    border-radius: 35px;
    padding: 10px 35px;
}