* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;

    --accent-color: rgb(0, 140, 230);
}

body {
    background-color: rgb(60, 60, 60);
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
}

img {
    background-color: rgb(180, 180, 180);
}

li {
    list-style: none;
}

.pfp {
    border-radius: 100%;
}

.dashboard {
    font-weight: 500;
    color: rgb(250, 250, 250);
    background-color: var(--accent-color);
    padding: 25px;
    position: relative;
    z-index: 1;
    grid-row: 1 / span 2;
}

.dashboard-logo {
    font-size: 2rem;
    margin-bottom: 60px;
}

.dashboard-link {
    font-size: 1.4rem;
    margin-top: 15px;
}

.dashboard-link:nth-child(7) {
    margin-bottom: 45px;
}

.header {
    background-color: white;
    padding: 30px 60px;
    box-shadow: 0 -10px 25px rgb(120, 120, 120);
    position: relative;
    display: flex;
    flex-direction: column;
}

.header-top {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    height: 2rem;
    width: 70%;
    display: flex;
    gap: 20px;
}

#search {
    appearance: none;
    background-color: rgb(230, 230, 240);
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    flex: 1;
}

.small {
    width: 50px;
    height: 50px;
}

.personal {
    display: flex;
    gap: 20px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.large {
    width: 100px;
    height: 100px;
}

.welcome {
    display: flex;
    align-items: center;
    gap: 40px;
}

.button {
    font-size: 1.4rem;
    color: white;
    background-color: var(--accent-color);
    margin-left: 50px;
    border: none;
    border-radius: 35px;
    padding: 10px 35px;
}

.content {
    background-color: rgb(230, 230, 240);
    padding: 60px 30px;
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 30px;
}

.outer > h2 {
    font-weight: 500;
}

.content > div:first-child {
    grid-row: 1 / span 2;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 1fr;
    gap: 20px;
}

.project {
    background-color: white;
    border-left: 5px solid orange;
    border-radius: 6px;
    padding: 40px 20px;
}

.announcements {
    background-color: white;
    border-radius: 10px;
    padding: 10px 30px;
}

.announcement {
    padding: 20px 0;
}

.announcement > h4 {
    font-size: 1.1rem;
    font-weight: 500;
}

.announcement > p {
    color: rgb(80, 80, 80);
    font-size: 0.8rem;
    font-weight: 300;
}

.announcement:nth-child(2) {
    border-top: 1px solid rgb(180, 180, 180);
    border-bottom: 1px solid rgb(180, 180, 180);
}

.trending {
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user {
    display: flex;
    gap: 20px;
    align-items: center;
}

.user h5:first-child {
    color: rgb(30, 30, 30);
    font-size: 0.9rem;
    font-weight: normal;
}

.user h5:last-child {
    color: rgb(60, 60, 60);
    font-weight: normal;
}